*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body a{
    text-decoration: none;
    color: #fff;
}
body ul li{
    list-style: none;
    display: inline-block;
}
 /* header section design start from here  */
 .header-wappers{
     background-image: url(../css/imges/header-bg.png);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: 100%;
 }
 .container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
 }
 .header-wappers{
     overflow: hidden;
 }
 .header-dosc-wapper{
     max-width: 570px;
     width: 100%;
     float: left;
     margin-top: 252px;
 }
 .header-docs{
    margin-left: 150px;
 }
 .header-img{
     max-width: 570px;
     width: 100%;
     float: left;
     padding: 65px;
 }
 .header-img img{
    width: 100%;
 }
 .header-docs h3{
     font-size: 32px;
     font-weight: 400;
    
}
 .header-docs h1{
     font-size: 40px;
     font-weight: 700;
     color: #EC4877;
     margin-top: 5px;
}
.header-docs p {
    font-size: 20px;
    color: #666;
    width: 100%;
    margin-top: 20px;
    max-width: 420px;
    line-height: 1.1;
}
.header-btn.btn {
    padding: 10px 40px;
    border-radius: 3px;
    border: none;
    background: #EC4877;
    color: #fff;
    margin-top: 17px;
    font-size: 20px;
    transition: 0.3s;
}
.header-btn.btn:hover {
    background-color:#FFA92E ;
}
 /* header section design ends from here  */

 /* boigraphy section design start from here   */
.boigraphy-wappers{
    background-image: url(../css/imges/biography-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 113%;
    overflow: hidden;
}
.boi-img{
    width: 50%;
    float: left;
    padding: 85px;
}
.boi-img img{
    width: 80%;
}
.boi-dosc{
    width: 50%;
    float: right;
    margin-top: 200px;
}
.boi-dosc h1 {
    font-size: 27px;
    margin-bottom: 20px;
}
.boi-dosc p {
    font-size: 16px;
    color: #999;
    width: 472px;
    margin-bottom: 27px;

}
.boi-btn{
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 11px 20px;
    border-radius: 5px;
    background-color: #EC4C79;
    transition: 0.3s;
}
.boi-btn:hover{
  background-color: #FFA92E;
}
/* boigraphy section design ends from here   */

/* may lestest work section start from here  */
.lestest-work-wapper{
    overflow: hidden;
}
.lestest-wark-title{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 33px;
}
.lestest-work-img{
    overflow: hidden;
    background-image: url(../css/imges/latest-work-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 208px 0px 120px 120px;
}
.lestest-work-img img{
     width: 30%;
     float: left;
     margin-right: 3%;
}
.lestest-work-img:last-child{
    margin-right: 0px;
}

/* may lestest work section ends from here  */

/* testimonial section design start from herer   */
.testimonial-area-wapper{
    background-image: url(../css/imges/footer-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.testimonial-dosc{
    overflow: hidden;
    text-align: center;
}
.testimonial-dosc h1 {
    font-size: 30px;
    margin-bottom: 60px;
}
.testimonial-dosc h5 {
    font-size: 14px;
    margin-top: 10px;
}
.testimonial-dosc p {
    width: 451px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 50px;
    line-height: 1.5;
}
.contact-email {
    width: 530px;
    margin: 0 auto;
    text-align: center;
    padding: 25px;
    background-color: #EC4C77;
    margin-top: 65px;
    border-radius: 5px;
    margin-bottom: 70px;
}
/* testimonial section design start from herer   */

/* footer section design start from here  */
footer {
    padding: 15px 0px;
    color: #444;
    text-align: center;
    font-size: 20px;
  }
/* footer section design ends from here  */
  
  